<form [formGroup]="formGroup" class="flex flex-row mx-5 mb-5 md:m-0">
  <div class="w-full">
    <input class="text-gray-400 rounded-tl-md rounded-bl-md p-3 w-full" formControlName="location" type="text"
      placeholder="{{'location-form.inputPlaceholder'| translate }}">
    @if (suggestionsList && suggestionsList.length > 0) {
    <div class="absolute h-max-[18%] top-100 mt-1 border bg-white shadow-xl rounded w-2/3 overflow-y-scroll">
      <div class="p-3">
        <div class="divide-y">
          @for (option of suggestionsList; track option){
          <option class="hover:cursor-pointer bg-slate-50 text-gray-400 w-full text-wrap" (click)="setFormValue(option)"
            [value]="option?.description">
            {{option?.description }}</option>
          }
        </div>
      </div>
    </div>
    }
  </div>
  <button
    class="rounded-tr-md rounded-br-md p-3 disabled:opacity-60 bg-purple-600 focus:outline-none hover:bg-purple-700 active:bg-purple-800 shadow-md transition-colors duration-300 ease-in-out"
    (click)="select()" [disabled]="!selectedLocation">{{'location-form.buttonText' | translate}}</button>
</form>
