<footer
  class="md:bottom-5 absolute flex flex-col md:flex-row w-full justify-between z-20 bottom-0 w-full text-center text-xs mb-5 px-3">
  <p class="font-semibold">{{ 'footer.madeBy' | translate}} <a class="text-purple-700 hover:text-purple-800 md:text-green-600 md:hover:text-green-700"
      href="https://github.com/Sanscripter">Sanscripter</a></p>
  <p class="font-semibold">{{ 'footer.sourceCode' | translate}} <a class="text-purple-700 hover:text-purple-800"
      href="https://github.com/Sanscripter/air-aware">code</a></p>
  <button class="font-semibold text-purple-700 hover:text-purple-800">{{ 'footer.privacyPolicy' | translate}}</button>
</footer>
