/* footer {
  bottom: 88%;
}

@media screen and (min-width: 321px){
  footer {
    bottom: -25%;
  }
}

@media screen and (min-width: 768px){
  footer {
    bottom: -3%;
  }

}

@media screen and (min-width: 1000px){
  footer {
    bottom: 1%;
  }

} */

